

<div  class="modal-top " >
<div  class="modal-contenido">



<h1 mat-dialog-title  class="header-contenido" >Resultado:</h1>



<div mat-dialog-content  class=" " >
    <h3  *ngIf="cuntLementos == 0; " >No a Respondio las pregunta  </h3>


    <div *ngFor="let item of listarRespuestas" >

      <div>
          <h3> {{ item.pregunta }}</h3>
      </div>
      <div>
          <h5> <mat-icon [fontIcon]="item.respuesta ? 'done' : 'close'">
          </mat-icon> {{ item.seleccion }} </h5>
      </div>

    </div>


</div>








<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
</div>

</div>