.header-contenido  {

    padding: 1rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    color: #323232;
    
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
    width: 100%;
    text-align: left;
}




@keyframes scaleIn {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }



.modal-top{

position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fondo negro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.modal-contenido {

    background-color: #fff;
    padding: 20px;
   
    max-width: 80%;
  
    animation: scaleIn 0.5s ease-out;
}

