* {
    margin: 0;
    padding: 0;
  }

  div {
    word-wrap: break-word;
 }
 .botton-box{

  height: calc(100% ) !important ;
  background: rebeccapurple;
 }
 

 .navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e8e9ea;
  height: 69px;
  background: #c70d57;
}

.navbar span {
  color: #ffffff;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: #007bff;
  text-decoration: underline;
}
