


 

        <div class="container-fuld row justify-content-md-center  mt-0  " > 
              

            <div class="navbar">
                  <span>Juego de preguntas</span>
            </div>


 <div class=" ">
    <mat-card-content class="col-md-12  ">
                <router-outlet ></router-outlet>

        </mat-card-content>
 </div>
        



           



           

        </div>

       

