@keyframes animacionEntrada {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animarBox {
  animation: animacionEntrada 1s ease-out;
}

.example-input-wrapper {
  margin-bottom: 16px;
}

label {
  margin-right: 4px;
}

.width-box {
  text-align: left;
}

.contenedorbox {
  overflow-x: auto;
  white-space: nowrap;
}

/* clases acordon css */

.acordeon .contenido {
  display: none;
}



.accordion-header {
  padding: 1rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: #323232;
  background-color: #f5f5f5;
  border: 1px solid #c5c5c5;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  width: 100%;
  text-align: left;
}

.accordion-header:hover {
  background-color: #e2e2e2;
}

.accordion-header:active {
  background-color: #d0d0d0;
}

.accordion-header:focus {
  outline: none;
   
}




.accordion-cuerpo {
  padding: 1rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #323232;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 0.25rem;
  transition: all 0.2s ease-out;
}



.btn-reset {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;  
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-right: 5px;
}

.btn-reset:hover {
  background-color: #0056b3;
}


.btn-calificar {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #C2185B;
  border: none;  
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-calificar:hover {
  background-color: #c2185c89;
}