<div class="col-md-8 mx-auto mt-3 animarBox">


<div  >

   <div class="acordeon"    >
    <div class="seccion "  *ngFor="let item of listarpreguntas$ | async  let i = index"    >
      <button class="acordeon-boton  accordion-header" (click)="toggle(i)"  > {{i+1}})  {{ item.pregunta }}</button>
      <div class="contenido accordion-cuerpo"  [style.display]="seccionAbierta === i ? 'block' : 'none'" >
        
        <div    *ngFor="let itemoption of item.opciones"  > 
         <label  >     <input type="radio" name="{{item.id}}" value="{{itemoption.resp}}"  (click)="calificar(
            item.id,
            item.pregunta,
            itemoption.resp,
            itemoption.valor
          )" > {{ itemoption.valor }}</label> 
        </div>
       
      </div>
    </div>
    <div class="seccion"  >
      <button class="acordeon-boton accordion-header" (click)="toggle(cantidadpreguntas+1)" >Califircar</button>
      <div class="contenido accordion-cuerpo" [style.display]="seccionAbierta === cantidadpreguntas+1 ? 'block' : 'none'"  >
        <div>
        <button class="btn-reset"
           
          (click)="resetRespuestas(); resetToggle()"
        >
          Restablecer
        </button   >
        <button class="btn-calificar" (click)="openDialog()">Calificar</button>
      </div>
      </div>
    </div>

</div>

 

   




  
  </div>






</div>
